/* Landing Page CSS */
#loginBtn{
    position: absolute;
    width: 20%;
    bottom: 80px;
    left: 165px;

}


#signuplink{
    position: absolute;
    width: 40%;
    bottom: 20px;
    left: 220px;
}

